---
import "../styles/global.css"

import { App } from "../components/app"
---

<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="generator" content={Astro.generator} />
		<title>Learn To Read</title>
	</head>
	<body>
		<App client:only="solid-js" />
	</body>
</html>
